node_modules

# pnpm
pnpm-debug.log*

# Remix/Vite
/build
/public/build
/.cache

# Vercel
.vercel

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Static data/cache
.generated
v10
