node_modules

# pnpm
pnpm-debug.log*

# Astro/Vite
/dist
/.astro
/.cache

# Vercel
.vercel

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated article data and assets
/.generated
/app/generated/articles.json
/public/generated
v10

/build
